#S6
[tmc2209 manual_stepper selector]
uart_pin: 
uart_address: 
run_current: 0.3
stealthchop_threshold: 0

#S7
[tmc2209 manual_stepper chameleon]
uart_pin: 
uart_address: 
run_current: 0.8
stealthchop_threshold: 0


#S6
[manual_stepper selector]
step_pin: 
dir_pin: 
microsteps: 1
rotation_distance: 2

#S7
[manual_stepper chameleon]
step_pin: 
dir_pin: 
microsteps: 16
rotation_distance: 34.408602151 # reverse computed from the ESteps value

[gcode_macro TOOL_INIT]
description: homes the tool selector. Needed before any tool change.
variable_tool: 0
variable_ysplit_distance: 600
variable_chameleon_speed: 300
variable_chameleon_acc:100
gcode:
  MANUAL_STEPPER STEPPER=selector SET_POSITION=0 
  MANUAL_STEPPER STEPPER=selector MOVE=-1.65
  MANUAL_STEPPER STEPPER=selector SET_POSITION=0 
  MANUAL_STEPPER STEPPER=selector MOVE=0.12
  MANUAL_STEPPER STEPPER=selector SET_POSITION=0 
  MANUAL_STEPPER STEPPER=chameleon SET_POSITION=0 
  # Set the tool to position T0
  SET_GCODE_VARIABLE MACRO=TOOL_INIT VARIABLE=tool VALUE=0
  

[gcode_macro WIPE]
# assumes we're already parked.
gcode:
  G1 X170 F8000
  G1 X250
  G1 X170
  G1 X250

[gcode_macro TS0]
gcode:
  TOOL_SELECT TOOL=0

[gcode_macro TS1]
gcode:
  TOOL_SELECT TOOL=1

[gcode_macro TS2]
gcode:
  TOOL_SELECT TOOL=2

[gcode_macro TS3]
gcode:
  TOOL_SELECT TOOL=3

[gcode_macro TOOL_SELECT]
gcode:
  {% set TOOL = params.TOOL|int %}
  M117 "Setting tool to TOOL{TOOL}"
  {% if TOOL == 0 %}
    MANUAL_STEPPER stepper=selector MOVE=0
  {% elif TOOL == 1 %}
    MANUAL_STEPPER stepper=selector MOVE=0.5
  {% elif TOOL == 2 %}
    MANUAL_STEPPER stepper=selector MOVE=1.0
  {% elif TOOL == 3 %}
    MANUAL_STEPPER stepper=selector MOVE=1.5
  {% endif %}
  SET_GCODE_VARIABLE MACRO=TOOL_INIT VARIABLE=tool VALUE={TOOL}

[gcode_macro TOOL_FREE]
gcode:
  {% set TOOL = params.TOOL|int %}
  M117 "Free filament path for tool {TOOL}"
  {% if TOOL == 0 %}
    MANUAL_STEPPER stepper=selector MOVE=1 
  {% elif TOOL == 1 %}
    MANUAL_STEPPER stepper=selector MOVE=1.5
  {% elif TOOL == 2 %}
    MANUAL_STEPPER stepper=selector MOVE=0
  {% elif TOOL == 3 %}
    MANUAL_STEPPER stepper=selector MOVE=0.5
  {% endif %}
  
[gcode_macro CHAMELEON_UNLOAD]
description: Unloads the filament from the tubing
gcode:
  {% set TOOL=printer["gcode_macro TOOL_INIT"].tool %}
  {% set YSPLIT_DIST=printer["gcode_macro TOOL_INIT"].ysplit_distance %}
  {% set SPEED=printer["gcode_macro TOOL_INIT"].chameleon_speed %}
  {% set ACC=printer["gcode_macro TOOL_INIT"].chameleon_acc %}
  MANUAL_STEPPER STEPPER=chameleon SET_POSITION=0
  {% if TOOL == 0 or TOOL == 1 %}
  M117 "Move tool {TOOL} by -{YSPLIT_DIST}"
  MANUAL_STEPPER stepper=chameleon MOVE=-{YSPLIT_DIST} SPEED={SPEED} ACCEL={ACC}
  MANUAL_STEPPER STEPPER=chameleon SET_POSITION=0
  MANUAL_STEPPER stepper=chameleon MOVE=-{YSPLIT_DIST} SPEED={SPEED} ACCEL={ACC}
  {% else %}
  M117 "Move tool {TOOL} by {YSPLIT_DIST}"
  MANUAL_STEPPER stepper=chameleon MOVE={YSPLIT_DIST} SPEED={SPEED} ACCEL={ACC}
  MANUAL_STEPPER STEPPER=chameleon SET_POSITION=0
  MANUAL_STEPPER stepper=chameleon MOVE={YSPLIT_DIST} SPEED={SPEED} ACCEL={ACC}
  {% endif %}

[gcode_macro CHAMELEON_LOAD]
description: Loads the filament into the extruder bowden
gcode:
  {% set TOOL=printer["gcode_macro TOOL_INIT"].tool %}
  {% set YSPLIT_DIST=printer["gcode_macro TOOL_INIT"].ysplit_distance %}
  {% set SPEED=printer["gcode_macro TOOL_INIT"].chameleon_speed %}
  {% set ACC=printer["gcode_macro TOOL_INIT"].chameleon_acc %}
  MANUAL_STEPPER STEPPER=chameleon SET_POSITION=0
  {% if TOOL == 0 or TOOL == 1 %}
  M117 "Move tool {TOOL} by {YSPLIT_DIST}"
  MANUAL_STEPPER stepper=chameleon MOVE={YSPLIT_DIST} SPEED={SPEED} ACCEL={ACC}
  MANUAL_STEPPER STEPPER=chameleon SET_POSITION=0
  MANUAL_STEPPER stepper=chameleon MOVE={YSPLIT_DIST} SPEED={SPEED} ACCEL={ACC}
  MANUAL_STEPPER STEPPER=chameleon SET_POSITION=0
  {% else %}
  M117 "Move tool {TOOL} by -{YSPLIT_DIST}"
  MANUAL_STEPPER stepper=chameleon MOVE=-{YSPLIT_DIST} SPEED={SPEED} ACCEL={ACC}
  MANUAL_STEPPER STEPPER=chameleon SET_POSITION=0
  MANUAL_STEPPER stepper=chameleon MOVE=-{YSPLIT_DIST} SPEED={SPEED} ACCEL={ACC}
  MANUAL_STEPPER STEPPER=chameleon SET_POSITION=0
  {% endif %}
  G92 E0

[gcode_macro EXTRUDER_UNLOAD]
description: Unloads the filament from the extruder before a tool change
gcode:
  G92 E0
  G1 E-2 F300
  G1 E-98 F3000
  G92 E0

[gcode_macro EXTRUDER_LOAD]
description: Loads the filament in the extruder after a tool change
gcode:
  G92 E0
  G1 E98 F3000
  G1 E105 F300
  G92 E0

[gcode_macro T0]
description: Changes the filament to that loaded in tool 0
gcode:
  # fetch current tool
  {% set TOOL= printer["gcode_macro TOOL_INIT"].tool %}
  {% set YSPLIT_DIST=printer["gcode_macro TOOL_INIT"].ysplit_distance %}
  # Pause the print
  PAUSE
  {% if TOOL != 0 %}
    EXTRUDER_UNLOAD
    TOOL_SELECT TOOL={TOOL}
    CHAMELEON_UNLOAD
  {% endif %}

  # Select the new tool 
  {% set TOOL=0 %}
  SET_GCODE_VARIABLE MACRO=TOOL_INIT VARIABLE=tool VALUE={TOOL}
  TOOL_SELECT TOOL={TOOL}
  CHAMELEON_LOAD
  # clear the path for the filament in the selector
  TOOL_FREE TOOL={TOOL}
  EXTRUDER_LOAD
  # wipe the nozzle a couple of times
  WIPE
  # continue printing
  RESUME

[gcode_macro T1]
description: Changes the filament to that loaded in tool 1
gcode:
  # fetch current tool
  {% set TOOL= printer["gcode_macro TOOL_INIT"].tool %}
  {% set YSPLIT_DIST=printer["gcode_macro TOOL_INIT"].ysplit_distance %}
  # Pause the print
  {% if TOOL != 1 %}
    EXTRUDER_UNLOAD
    TOOL_SELECT TOOL={TOOL}
    CHAMELEON_UNLOAD
  {% endif %}
  # Select the new tool 
  {% set TOOL=1 %}
  SET_GCODE_VARIABLE MACRO=TOOL_INIT VARIABLE=tool VALUE={TOOL}
  TOOL_SELECT TOOL={TOOL}
  CHAMELEON_LOAD
  # clear the path for the filament in the selector
  TOOL_FREE TOOL={TOOL}
  EXTRUDER_LOAD
  # wipe the nozzle a couple of times
  WIPE
  # continue printing
  RESUME

[gcode_macro T2]
description: Changes the filament to that loaded in tool 2
gcode:
  # fetch current tool
  {% set TOOL= printer["gcode_macro TOOL_INIT"].tool %}
  {% set YSPLIT_DIST=printer["gcode_macro TOOL_INIT"].ysplit_distance %}
  # Pause the print
  PAUSE
  {% if TOOL != 2 %}
    EXTRUDER_UNLOAD
    TOOL_SELECT TOOL={TOOL}
    CHAMELEON_UNLOAD
  {% endif %}

  # Select the new tool 
  {% set TOOL=2 %}
  SET_GCODE_VARIABLE MACRO=TOOL_INIT VARIABLE=tool VALUE={TOOL}
  TOOL_SELECT TOOL={TOOL}
  CHAMELEON_LOAD
  # clear the path for the filament in the selector
  TOOL_FREE TOOL={TOOL}
  EXTRUDER_LOAD
  # wipe the nozzle a couple of times
  WIPE
  # continue printing
  RESUME

[gcode_macro T3]
description: Changes the filament to that loaded in tool 2
gcode:
  # fetch current tool
  {% set TOOL= printer["gcode_macro TOOL_INIT"].tool %}
  {% set YSPLIT_DIST=printer["gcode_macro TOOL_INIT"].ysplit_distance %}
  # Pause the print
  PAUSE
  {% if TOOL != 0 %}
    EXTRUDER_UNLOAD
    TOOL_SELECT TOOL={TOOL}
    CHAMELEON_UNLOAD
  {% endif %}

  # Select the new tool 
  {% set TOOL=3 %}
  TOOL_SELECT TOOL={TOOL}
  SET_GCODE_VARIABLE MACRO=TOOL_INIT VARIABLE=tool VALUE={TOOL}
  CHAMELEON_LOAD
  # clear the path for the filament in the selector
  TOOL_FREE TOOL={TOOL}
  EXTRUDER_LOAD
  # wipe the nozzle a couple of times
  WIPE
  # continue printing
  RESUME
